# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

jenkins-terraform/.terraform/
jenkins-terraform/terraform.tfstate
jenkins-terraform/terraform.tfstate.*
jenkins-terraform/terraform.tfstate.lock.info
jenkins-terraform/.terraform.lock.hcl

jenkins-terraform/crash.log
jenkins-terraform/override.tf
jenkins-terraform/override.tf.json
*.tfplan


monitor-terraform/.terraform/
monitor-terraform/terraform.tfstate
monitor-terraform/terraform.tfstate.*
monitor-terraform/.terraform.lock.hcl
monitor-terraform/terraform.tfstate.lock.info
monitor-terraform/crash.log
monitor-terraform/override.tf
monitor-terraform/override.tf.json
*.tfplan